{% block header %}
<header>
    <div class="header main-header">
        <div class="header_links">
            <a href="{{ path('home') }}" class="home">Home</a>
            <a href="{{ path('filter_animals') }}" class="search">Search</a>
        </div>
    </div>
</header>
{% endblock %}