{% extends 'base.html.twig' %}

{% block content %}
    {% include 'header.html.twig' %}

    {% block main %}
        <p> Classic text </p>
    {% endblock %}

    {% include 'footer.html.twig' %}
{% endblock %}
